table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    height: 10px;
    padding: 0;
    width: 120px;
    font-size: .7em;
}

th {
    height: 35px;
}

td.lesson {
    border: 2px solid #555555;
}

td.cellWithHour {
    text-align: end;
}

.separatorColumn, .hourColumn {
    border: none;
}

.separatorColumn {
    width: 4px;
}

.hourColumn {
    width: 50px;
    font-size: 1em;
}

.fullHourBelow {
    border-bottom-color: #999999;
    border-top: none;
}

.halfHourBelow {
    border-bottom-color: #dddddd;
    border-top: none;
}

.quarterHourBelow {
    border-bottom-style: dashed;
    border-bottom-color: #eeeeee;
    border-top: none;
}